@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: system-ui, -apple-system;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color-scheme: dark light;
  background: #f3f4f6;
}
